<h1 mat-dialog-title>{{isEditMode()?'Edit Records':'Add new Records'}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <textarea matInput placeholder="Key"
            [readonly]="data.hideType"
            [(ngModel)]="data.key"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="7"></textarea>
  </mat-form-field>


  <mat-form-field *ngIf="!data.hideType">
    <mat-select placeholder="Value Type" [(ngModel)]="data.type">
      <mat-option *ngFor="let type of ['String','List','Set','Ordered Set','Hash Map']" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-add-value-form [type]="data.type"
                      [initValues]="data.values.values"
                      [initHashMapValues]="data.values.hashMapValues"
                      [initOrderedValues]="data.values.orderedValues"
                      [isEditMode]="isEditMode()"
                      (onValueUpdate)="data.values = $event">

  </app-add-value-form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="data.values.orderedValues.length === 0">{{isEditMode()?'Update':'Add'}}</button>
</div>
