.import-dialog-root {
  padding-bottom: 16px;
  .row {
    display: flex;
    flex-direction: row;
    mat-form-field {
      flex: 1;
    }
    &.import-value {
      margin-top: -13px;
    }
    .left-part {
      font-size: 14px;
      width: 100px;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      margin-right: 16px;
      display: flex;

      .label {
        margin-top: 22px;
        margin-bottom: 16px;
      }
      .commands {
        opacity: 0.7;
        flex: 1;
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        align-items: flex-end;
        div {
          margin-top: 1px;
          margin-bottom: 1px;
        }
      }
    }
    &.radio-group {
      .left-part {
        padding-top: 16px;
        justify-content: flex-start;
      }
      mat-radio-button {
        display: block;
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }

  }
  .mat-checkbox {
    font-size: 14px !important;
  }

  .buttons {
    margin-bottom: 8px;
  }
}
