.instance-root {
  margin-top: 16px;
  .item-line {
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;

    .material-icons {
      margin-right: 6px;
      width: 24px;
      height: 24px;
      &.error {
        color: red !important;
      }
    }
  }
  >.item-line {
    cursor: pointer;
  }
  .sub-items {
    margin-top: 8px;
  }
}
