$header-height: 60px;

.redis-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  .header {
    z-index: 1;
    width: 100%;
    height: $header-height;
    background-color: #4054b2;
    color: white;
  }

  .body {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-direction: row;
    .left-part {
      position: relative;
      padding-right: 12px;

      .tree-list {
        padding-left: 6px;
        overflow-y: auto;
        height: calc(100vh - 60px - 42px - 80px);
        &.cli-expanded {
          height: calc(100vh - 60px - 42px - 420px);
        }
      }
      .side-header {
        display: flex;
        flex-direction: row;
        .delete-btn{
          color: #e2552e !important;
        }
      }
      .slider-point {
        cursor: col-resize;
        width: 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        .handler {
          margin-left: 5px;
          pointer-events: none;
          width: 2px;
          background-color: #dcdcdc;
          height: 100%;
        }
      }
    }
    .right-part {
      flex: 1;
    }
  }
  .cli {
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    &.cli-expanded {
      height: 420px;
    }
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 32px;

      .current-instance {
        height: 22px;
        padding-left: 18px;
        padding-right: 18px;
        background-color: #4054b2;
        font-size: 14px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11px;
      }
    }

    .scroll-content {
      margin-top: 5px;
      margin-bottom: 5px;
      height: 325px;
      overflow-y: auto;
      padding-left: 32px;

      .item {
        .command {
          font-size: 14px;
          font-weight: bold;

          .time {
            font-size: 12px;
            color: gray;
            font-weight: normal;
            margin-right: 6px;
          }
        }
        .result {
          margin-top: 2px;
          font-size: 12px;
          color: gray;

          &.error {
            color: red;
          }
        }
        margin-bottom: 6px;
      }
    }

    .input, .title {
      padding-left: 32px;
      padding-right: 32px;
    }

  }
}
