@import '~@angular/material/theming';

@include mat-core();

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@mixin dark-app-colors {
  .bg-color {
    background-color: #424242;
  }
  .cli-bg-color {
    background-color: #424242;
  }
  .material-icons {
    color: #ffffff;
  }
  .common-font-color {
    color: #ffffff;
  }
  input, textarea {
    color: #ffffff;
  }
  .link-color {
    color: #5c79ff;
  }
  .node-color {
    background-color: #323232;
    color: white;
    &:hover {
      background-color: #747474;
    }
    &.selected {
      background-color: #878787;
    }
  }
  .tree-child-color {
    color: white;
    &:hover {
      background-color: #747474;
    }
    &.selected {
      background-color: #878787;
    }
    .value-type {
      color: #607eff;
    }
  }
  .current-instance-color {
    background-color: #4054b2;
  }

  .error-font-color {
    color: lightsalmon;
  }
  .result-color{
    color: #c0c0c0;
  }
  .top-menu-header-color {
    background-color: #4054b2;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label
  , .mat-select-arrow {
    color: #607d8b;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline,
  .mat-form-field-appearance-legacy .mat-form-field-ripple {
    background-color: #607d8b;
  }
  .mat-form-field-appearance-legacy .mat-form-field-ripple{
    opacity: 1;
    transform: scaleX(1);
  }
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include dark-app-colors
}

.dark-theme .cli.mat-elevation-z12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 8)
}

.dark-theme .mat-dialog-content .mat-expansion-panel {
  &.mat-expanded {
    .mat-expansion-panel-header {
      background-color: #878787;
    }
  }
}
