@import '~@angular/material/theming';

@include mat-core();

// Light theme
$light-primary: mat-palette($mat-grey, 700, 500, 300);
$light-accent: mat-palette($mat-brown, 300);
$light-warn: mat-palette($mat-deep-orange, 200);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$app-bg-color: white;

@mixin light-app-colors {
  .bg-color {
    background-color: white;
  }
  .cli-bg-color {
    background-color: white;
  }
  .material-icons {
    color: black;
  }
  .common-font-color {
    color: black;
  }
  input, textarea {
    color: black;
  }
  .link-color {
    color: #5c79ff;
  }
  .node-color {
    background-color: white;
    color: black;
    &:hover {
      background-color: #f6f6f6;
    }
    &.selected {
      background-color: #dfdfdf;
    }
  }
  .tree-child-color {
    color: black;
    &:hover {
      background-color: #f6f6f6;
    }
    &.selected {
      background-color: #dfdfdf;
    }
    .value-type {
      color: #4157af;
    }
  }
  .error-font-color {
    color: red;
  }
  .current-instance-color {
    background-color: #4054b2;
  }
  .top-menu-header-color {
    background-color: black;
  }
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include light-app-colors
}

.light-theme .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.light-theme .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: rgb(163, 174, 224);
}

.light-theme .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgba(0,0,0,.87);
}

.light-theme .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(0,0,0,.54)
}

.light-theme .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgba(0, 0, 0, .54);
}


.light-theme .cli.mat-elevation-z12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.8)
}

.light-theme .mat-dialog-content .mat-expansion-panel {
  &.mat-expanded {
    .mat-expansion-panel-header {
      background-color: #dfdfdf;
    }
  }
}
