.data-viewer-root {
  width: 100%;
  .header {
    margin-top: 8px;
    padding: 16px 12px 2px 12px;
    button {
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  .title {
    padding: 16px;
    .key {
      font-size: 14px;
      .t {
        font-weight: bold;
        margin-right: 6px;
      }
    }
  }

  .loading-data {
    padding: 16px;
    display: flex;
    align-items: center;
  }

  .table-content {
    margin: 2px 16px 2px 16px;
    position: relative;
    height: calc(100vh - 60px - 78px - 56px - 36px - 80px);
    overflow: auto;
    .example-table {
      position: relative;
      width: 100%;
      table-layout: fixed;
      .checkbox-col, .index-col, .small-col {
        width: 40px;
      }
      .action-col{
        width: 80px;
      }
      .text-td {
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        padding: 3px 10px;
      }
    }


    .string-value{
      word-break: break-all;
    }

    &.cli-expanded {
      height: calc(100vh - 60px - 78px - 56px - 36px - 420px);
    }
  }

  .string-editor {
    padding: 16px;
    display: flex;
    flex-direction: column;
    button {
      width: 120px;
    }
  }
}
