/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "themes/dark-theme";
@import "themes/light-theme";
@import "themes/magenta-theme";

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex1 {
  flex: 1;
}

mat-form-field {
  width: 100%;
}

.cdk-global-overlay-wrapper {
  .cdk-overlay-pane {
    overflow: hidden;
  }
}

.readOnlyField {
  .mat-form-field-underline {
    background-color: transparent!important;
  }
}


/* webkit, opera, IE9 */
::selection { background: transparent; }
/* mozilla firefox */
::-moz-selection { background:transparent; }

.mat-icon-button {
  z-index: 2;
}

.mat-table {

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
    padding: 0 10px;
  }
}

.mat-tooltip-panel .mat-tooltip {
  margin: 0;
}

